<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session Storage con Express</title>
</head>
<body>
    <h1>Ejemplo de SessionStorage</h1>
    <div>
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username">
        <button onclick="saveUser()">Guardar en SessionStorage</button>
    </div>
    <div>
        <button onclick="loadUsername()">Cargar Nombre Usuario desde SS</button>
        <p id="username-display"></p>
    </div>
    <script src="app.js"></script>
</body>
</html>